<div class="title">
  <h1><%=@joke.joke_title%></h1>
</div>

<div class="card">
  <div class="joke_text">
    <textarea readonly><%=@joke.text_one%></textarea>
  </div>

  <div class="joke_big_image" style="display: block">
    <img class="icon_img" src="../<%=@joke.images.first.path%>">
  </div>
</div>

<div class="card">
  <div class="joke_big_image" style="display: block">
    <img class="icon_img" src="../<%=@joke.images.second.path%>">
  </div>

  <div class="joke_text">
    <textarea readonly><%=@joke.text_two%></textarea>
  </div>
</div>

<div class="card">
  <div class="joke_text">
    <textarea readonly><%=@joke.text_three%></textarea>
  </div>

  <div class="joke_big_image" style="display: block">
    <img class="icon_img" src="../<%=@joke.images.third.path%>">
  </div>
</div>

