<div class="joke clearfix">
  <h1 class="title" ><%=@joke.joke_title%> <span>by <%= @joke.joker.nickname %></span></h1>
   
  <% 0.upto(2) do |i| %>
    <div class="card">
      <% if i.even? %>
        <%= erb :'joke/_even_card', locals: { iterator: i } %>
      <% else %>
        <%= erb :'joke/_odd_card', locals: { iterator: i } %>
      <% end %>
    </div>
  <% end %>

  <% if @joke.joker.id == session[:joker_id] %>
    <div class="edit_buttons">
      <a href="/joke/<%=@joke.id%>/edit"><button id = "save_btn">edit</button></a>
      
      <form id="btn_delete"> <!--action="/joke/<%=@joke.id%>" method="POST"-->
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="id" value="<%=@joke.id%>">
        <input id = "save_btn" type="submit" value="delete">
      </form>
    </div>
  <% end %>
</div>